<!-- <app-bm1></app-bm1> -->


<!--
<h1>WEBSITE BÁN ĐIỆN THOẠI</h1>
<div class="row">
<div class="col-sm-3">
  <app-manufacturer></app-manufacturer>
</div>
<div class="col-sm-9">
  <app-product></app-product>
</div>
</div> -->


<!-- <app-b1></app-b1> -->
<div >
  <div >
    <app-header></app-header>
  </div>
  <div>
    <app-main></app-main>
  </div>
  <div>
  <app-footer></app-footer></div>
  </div>
<!-- <app-b2></app-b2> -->

  <!-- <app-header2></app-header2>
  <app-main2></app-main2>
  <app-footer2></app-footer2> -->

